* {
    margin: 0;
    padding: 0;
}

/*POLICES*/
@font-face {
    font-family: 'theblacklist';
    src : url('../fonts/theblacklist.ttf') format('truetype');
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(#f27373, #fcfe00);
    color: white;
}

h1 {
    font-family: "theblacklist", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin: 10px;
}

.logo {
    display: flex;
    margin: 0 auto
}

.sous-titre {
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin-top: 10%;
}

.section-flex ul{
    font-family: Arial, sans-serif;
    display: flex;
    list-style: none;
    margin: 10px;
    align-items: center;
    padding: 0;
    justify-content: center;
}

.section-flex li {
    display: flex;
    margin: auto 10px;
}

.line {
    border-bottom: 2px solid #f16c79;
}

.welcome {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    margin: 20px 40px;
}

main p {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 5px;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #f16c79;
    color: white;
    text-align: center;
    padding-top: 15px;
    height: 55px;
}

.card {
    border-radius: 100% !important;
}

.card-body {
    background-color: #f16c79;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-text {
    color: white;
}

li {
    cursor: pointer;
}

.van {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 280px;
    object-fit: cover;
}

.border-contact {
    display: flex;
    border: solid;
    width: 80%;
    border-radius: 15px;
    justify-content: center;
    margin: 25px auto;
    color: #f16c79;
}

.border-contact p {
    color: #000;
}